{% extends 'base.html' %}

{% block container %}
<div class="container">
    <div class="row row-cols-3">
        <p class="h1 col-12 text-monospace text-center">Последнее поступление одежды</p>
        <div class="col">
            <p class="h3 text-center">Одежда 1</p>
            <p><img src="../static/img/clothes-1.webp" alt="clothes-1"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, reiciendis.</p>
        </div>
        <div class="col">
            <p class="h3 text-center">Одежда 2</p>
            <p><img src="../static/img/clothes-2.webp" alt="clothes-2"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, reiciendis.</p>
        </div>
        <div class="col">
            <p class="h3 text-center">Одежда 3</p>
            <p><img src="../static/img/clothes-3.webp" alt="clothes-3"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, reiciendis.</p>
        </div>
    </div>
</div>
{% endblock %}}