<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Seminar 2 Task 1
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Главная <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/result/">Не главная</a>
            <a class="nav-item nav-link" href="#">Совсем не главная</a>
            <a class="nav-item nav-link disabled" href="#">Отключено за неуплату</a>
        </div>
    </div>
</nav>
{% block container %}
    <h1 class="display-3 text-center">Введите данные</h1>
    <form method="post">
        <div class="form-row">
            <div class="form-group col-md-5 text-center">
                <label for="inputNum1">Число 1</label>
                <input type="text" class="form-control" id="inputNum1" name="num1">
            </div>
            <div class="form-group col-md-5 text-center">
                <label for="inputNum2">Число 2</label>
                <input type="text" class="form-control" id="inputNum2" name="num2">
            </div>
            <div class="form-group col-md-2 text-center">
                <label for="inputOperation">Операция</label>
                <select id="inputOperation" class="form-control" name="operation">
                    <option selected>+</option>
                    <option>-</option>
                    <option>*</option>
                    <option>/</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endblock %}
<div class="row fixed-bottom modal-footer">
    <hr>
    <p>Все права защищены &copy;</p>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>

