{% extends 'base.html' %}

{% block container %}
<div class="container">
    <div class="row row-cols-3">
        <p class="h1 col-12 text-monospace text-center">Последнее поступление курток</p>
        <div class="col">
            <p class="h3 text-center">Куртка 1</p>
            <p><img src="../static/img/jacket-1.webp" alt="jacket-1"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, reiciendis.</p>
        </div>
        <div class="col">
            <p class="h3 text-center">Куртка 2</p>
            <p><img src="../static/img/jacket-2.webp" alt="jacket-2"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, reiciendis.</p>
        </div>
        <div class="col">
            <p class="h3 text-center">Куртка 3</p>
            <p><img src="../static/img/jacket-3.webp" alt="jacket-3"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, reiciendis.</p>
        </div>
    </div>
</div>
{% endblock %}}