{% extends 'base.html' %}

{% block container %}
<div class="container">
    <div class="row row-cols-3">
        <p class="h1 col-12 text-monospace text-center">Последнее поступление обуви</p>
        <div class="col">
            <p class="h3 text-center">Обувь 1</p>
            <p><img src="../static/img/shoes-1.webp" alt="shoes-1"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, reiciendis.</p>
        </div>
        <div class="col">
            <p class="h3 text-center">Обувь 2</p>
            <p><img src="../static/img/shoes-2.webp" alt="shoes-2"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, reiciendis.</p>
        </div>
        <div class="col">
            <p class="h3 text-center">Обувь 3</p>
            <p><img src="../static/img/shoes-3.webp" alt="shoes-3"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, reiciendis.</p>
        </div>
    </div>
</div>
{% endblock %}}